# Ignorar la carpeta de archivos estáticos recolectados
/staticfiles/

# Ignorar archivos temporales
*.pyc
__pycache__/
db.sqlite3

# Ignorar archivos de entorno
.env

# Ignorar archivos de media (avatares)
/media/
