{% extends "padre.html" %}
{% load static %}
{% block contenido %}
<ul>
    <form method="POST" action="alta_alumno", class="container">
        {% csrf_token %}
        <h1>Agregar alumno</h1> 
        <br>
        <p>Nombre del alumno:</p>
        <input type="text" name="nombre" required>
        <br>
        <br>
        <p>dni:</p>
        <input type="text" name="dni" required>
        <br>
        <br>
        <input type="submit" value="Agregar alumno" class="btn btn-primary">
    </form>
</ul>
{% endblock %}