{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<ul>
<h1 class="text-center">Listado de Alumnos</h1>
<p class="text-center">Se encontraron {{alumnos|length}} alumnos</p>
<main class="container text-white">
    <table class="table text-white">
        <tr>
            <th>id</th>
                <th>nombre</th>
                <th>dni</th>
            </tr>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.dni }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href ="{% url 'alumno_formulario' %}" class="btn btn-primary">Nuevo Alumno</a>
        <a href ="{% url 'buscar_alumno' %}" class="btn btn-primary">Buscar Alumno</a>
    </main>
</ul>

{% endblock %}