{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<div class="container my-5 text-white">

    <h1 class="text-center mb-3">Listado de Cursos</h1>
    <p class="text-center mb-4">Se encontraron {{cursos|length}} cursos</p>

        <table class="table table-dark table-striped table-hover rounded shadow">
        <thead class="table-light text-dark">
            <tr>
                <th>Nombre</th>
                <th>Camada</th>
                <th class="text-center">Eliminar</th>
                <th class="text-center">Editar</th>
            </tr>
        </thead>
        <tbody>    
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.camada }}</td>
                <td class="text-center">
                    <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-sm btn-outline-danger"
                    title="Eliminar" onclick="return confirm('¿Seguro que deseas eliminar este curso?');">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% url 'editar_curso' curso.id %}" class="btn btn-sm btn-outline-warning"
                    title="Editar">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4 d-flex gap-3">
        <a href="{% url 'curso_formulario' %}" class="btn btn-primary text-white">
            <i class="bi bi-person-plus"></i> Nuevo Curso
        </a>
        <a href="{% url 'buscar_curso' %}" class="btn btn-outline-primary text-white">
            <i class="bi bi-search"></i> Buscar Curso
        </a>
    </div>
</div>
{% endblock %}