{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<ul>
    <h1 class="text-center">Listado de Cursos</h1>
    <p class="text-center">Se encontraron {{cursos|length}} cursos</p>
    <main class="container">
        <table class="table">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>camada</th>
            </tr>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.camada }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href ="{% url 'curso_formulario' %}" class="btn btn-primary">Nuevo Curso</a>
        <a href ="{% url 'buscar_curso' %}" class="btn btn-primary">Buscar Curso</a>
    </main>
</ul>
{% endblock %}