{% extends "padre.html" %}
{% load static %}
{% block contenido %}
<ul>
    <form method="POST" action="alta_curso", class="container">
        {% csrf_token %}
        <h1>Agregar curso</h1> 
        <br>
        <p>Nombre del curso:</p>
        <input type="text" name="nombre" required>
        <br>
        <br>
        <p>Camada:</p>
        <input type="text" name="camada" required>
        <br>
        <br>
        <input type="submit" value="Agregar curso" class="btn btn-primary">
        <br>
        <br>
    </form>
</ul>
{% endblock %}
