<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <ul>
        {% for curso in cursos %}
            <li>
                <p>Nombre: {{ curso.nombre }}</p> 
                <p>Camada: {{ curso.camada }}</p>
            </li>
        {% empty %}
            <li>No hay cursos disponibles</li>
        {% endfor %}
    </ul>
</body>
</html>