{% extends "padre.html" %}
{% load static %}
{% block contenido %}
<ul>
    <form method="POST" action="alta_profesor" , class="container">
        {% csrf_token %}
        <br><br>
        <h1 class="text-center text-white">Agregar profesor</h1>
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card border-white shadow-lg rounded-4"
                        style="background-color: rgba(255, 255, 255, 0.05); backdrop-filter: blur(6px);">
                        <div class="card-body text-center text-white">
                            <br>
                            <p>Nombre del profesor:</p>
                            <input type="text" name="nombre" required>
                            <br>
                            <br>
                            <p>Especialidad del profesor:</p>
                            <input type="text" name="especialidad" required>
                            <br>
                            <br>
                            <input type="submit" value="Agregar profesor" class="btn btn-outline-light px-4">
                            <br><br>
                            <a href="{% url 'profesores' %}" class="btn btn-outline-light px-4">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br><br>
</ul>
{% endblock %}