{% extends "padre.html" %}

{% load static %}

{% block contenido %}
<ul>
<h1 class="text-center">Listado de Profesores</h1>
<p class="text-center">Se encontraron {{profesores|length}} profesores</p>
<main class="container text-white">
    <table class="table text-white">
        <tr>
            <th>id</th>
                <th>nombre</th>
                <th>especialidad</th>
            </tr>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.id }}</td>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.especialidad }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href ="{% url 'profesor_formulario' %}" class="btn btn-primary me-2">Nuevo Profesor</a>
        <a href ="{% url 'buscar_profesor' %}" class="btn btn-primary">Buscar Profesor</a>
    </main>
</ul>

{% endblock %}