{% extends "padre.html" %}
{% load static %}
{% block contenido %}
<ul>
    <form method="POST" action="alta_profesor", class="container">
        {% csrf_token %}
        <h1>Agregar profesor</h1> 
        <br>
        <p>Nombre del profesor:</p>
        <input type="text" name="nombre" required>
        <br>
        <p>Especialidad del profesor:</p>
        <input type="text" name="especialidad" required>
        <br>
        <input type="submit" value="Agregar profesor">
    </form>
</ul>
{% endblock %}