{% extends "padre.html" %}
{% load static %}
{% block contenido %}

{% if profesores%}
<div class="container my-5 text-white">

    <h1 class="text-center mb-3">Resultados de la búsqueda</h1>
    <p class="text-center mb-4">Se encontraron {{profesores|length}} profesores</p>
    <table class="table table-dark table-striped table-hover rounded shadow">
        <thead class="table-light text-dark">
            <tr>
                <th>nombre</th>
                <th>especialidad</th>
                <th class="text-center">Eliminar</th>
                <th class="text-center">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.especialidad }}</td>
                <td class="text-center">
                    <a href="{% url 'eliminar_profesor' profesor.id %}" class="btn btn-sm btn-outline-danger"
                        title="Eliminar" onclick="return confirm('¿Seguro que deseas eliminar este profesor?');">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% url 'editar_profesor' profesor.id %}" class="btn btn-sm btn-outline-warning"
                        title="Editar">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
    <div class="mt-4 d-flex gap-3">
        <a href="{% url 'profesor_formulario' %}" class="btn btn-primary text-white">
            <i class="bi bi-person-plus"></i> Nuevo Profesor
        </a>
        <a href="{% url 'buscar_profesor' %}" class="btn btn-outline-primary text-white">
            <i class="bi bi-search"></i> Buscar Profesor
        </a>
    </div>
    {% else %}
    <br><br>
    <h1 class="text-center mb-3">No se encontraron profesores</h1>
    <div class="container my-5 text-white text-center">
        <a href="{% url 'profesores' %}" class="btn btn-outline-primary text-white mb-3">
            <i class="bi bi-search"></i> Volver a Buscar Profesores
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}